PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/todolist
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password

JWT_SECRET=TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=

MAIL_USERNAME=
MAIL_PASSWORD=
