/* =========================
   LIGHT THEME
========================= */

:root {
  /* Brand Microsoft Blue */

  --primary: #2564cf;
  --primary-hover: #1f55b5;

  /* Background */

  --bg-app: #f3f2f1;
  --bg-surface: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-hover: #f5f5f5;

  /* Text */

  --text-main: #323130;
  --text-secondary: #605e5c;
  --text-disabled: #a19f9d;

  /* Border */

  --border: #edebe9;

  /* Task */

  --task-complete: #107c10;
  --task-important: #e33e5a;

  /* Shadow */

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* =========================
   DARK THEME
========================= */

.dark {
  --bg-app: #1f1f1f;

  --bg-surface: #252525;

  --bg-sidebar: #202020;

  --bg-hover: #333333;

  --text-main: #ffffff;

  --text-secondary: #d2d0ce;

  --text-disabled: #858585;

  --border: #3b3a39;

  --primary: #4f8cff;

  --primary-hover: #6aa0ff;

  --shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
